/*fonts-fontsizes*/
.raleway{
    font-family:"Raleway",sans-serif ;
    font-weight: 700;
}
.raleway18px{
    font-family:"Raleway",sans-serif ;
    font-size: 18px;
    font-weight: 900;
}
.raleway13px{
    font-family:"Raleway",sans-serif ;
    font-size: 13px;
    font-weight: 900;
}
.raleway11px{
    font-family:"Raleway",sans-serif ;
    font-size: 11px !important;
}
.raleway9px{
    font-family:"Raleway",sans-serif ;
    font-size: 9px;
    font-weight: 700;
}
.raleway40px{
    font-family: "Raleway",sans-serif;
    font-size: 40px;
    font-weight: 900;
}
.questrial{
    font-family: "Questrial",sans-serif;
    font-weight: 700;
}
.questrial11px{
    font-family: "Questrial",sans-serif;
    font-size: 11px !important;
    font-weight: 400;
}
.questrial10px{
    font-family: "Questrial",sans-serif;
    font-size: 10px;
    font-weight: 400;
}
.questrial14px{
    font-family: "Questrial",sans-serif;
    font-size: 14px;
    font-weight: 400;+
}
.questrial13px{
    font-family: "Questrial",sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.questrial30px{
    font-family: "Questrial",sans-serif;
    font-size: 30px;
    font-weight: 400;
}
/*text color*/
.colorgreen{
    color: #b8cd06;
}
/*padding-margin*/
.pe-140{
    padding-right: 140px;
}
.ps-150{
    padding-left: 150px !important;
}
.lh-xl{
    line-height: 50px;
}
.lh-3{
    line-height: 3;
}


/*header-nav*/
header{
    font-size: 10px;
}
header a:hover{
    color:#b8cd06 !important;
}
.nav-item a:hover{
    background: #b8cd06;
    color: white !important;
}
.active{
    background: #b8cd06 !important;
    border-radius: 50px;
    color: white !important;
}
.active:hover{
    background: #b8cd06 !important;
    border-radius: 50px;
    color: white !important;
}
.nav-item.active{
    background: #b8cd06 !important;
    border-radius: 50px;
    color: white !important;
}


/*index.html*/
/*choose color boxes*/
.color-box {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
/*tags classes*/
.tags{
    background-color: #eeeeee;
}
.tags:hover{
    background-color: #b8cd06;
    color: white !important;
    cursor: pointer;
}
/*links classes*/
.links:hover{
    color: #b8cd06 !important;
}
/*inputvelden styling*/
/* range thumb kleur */
input[type="range"]::-webkit-slider-thumb {
    background: #b8cd06!important;
}
/* email placeholderkleur */
input::placeholder {
    color: white;
}
/*checkbox kleur*/
.form-check-input:checked {
    background-color: #b8cd06!important;
    border-color: #b8cd06!important;
}



/*blog.html*/

/* overlay standaard styling */
.overlay {
    opacity: 0;
    transition: opacity 0.3s ease;
}
.custom-hover-color {
    background-color: rgba(184, 205, 6, 0.75); /* #b8cd06 met transparantie */
}
.position-relative:hover .overlay {
    opacity: 1;
}
.plusIcon{
    transition: transform 0.3s ease; /* draai-transitie */
}
.position-relative:hover .plusIcon {
    transform: rotate(180deg);
}

/*button styling & hover effect*/
.learnmorebtn {
    background-color: #b8cd06;
    color: white;
    overflow: hidden; /* Voorkomt dat animaties buiten de knop vallen */
    position: relative; /* Zorgt dat de kinderen gepositioneerd kunnen worden */
    text-align: center;
    transition: background-color 0.3s ease; /* Voor een achtergrondkleur overgang */
}
.learnmorebtn .text {
    display: inline-block;
    transition: opacity 0.3s ease;
}
.learnmorebtn .icon {
    display: inline-block;
    position: absolute;
    top: 50%; /* Centraal positioneren */
    left: -50px; /* Begin buiten de knop aan de linkerkant */
    transform: translateY(-50%); /* Houd het icoon verticaal gecentreerd */
    opacity: 0; /* Begin als onzichtbaar */
    transition: all 0.4s ease; /* Smooth animatie */
    font-size: 1.2rem; /* Pas grootte van het icoon aan */
    color: white;
}
.learnmorebtn:hover .text {
    left: -50px; /* Schuif de tekst naar links buiten de knop */
    opacity: 0;
}
.learnmorebtn:hover .icon {
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
}

.play-icon {
    background-color: #b8cd06;
    width: 55px;
    height: 55px;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2); /* de border effect */
    transition: box-shadow 0.3s ease;
}
.play-icon:hover {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}
.fa-play {
    margin-left: 3px;
}
.carousel-item.active {
    background-color: white!important; /* Vervang met de gewenste kleur */
}
/* Standaard gedrag: icoon gecentreerd */
.play-icon-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

/* voor middelscherm : icoon naar linksboven */
@media (max-width: 991px) {
    .play-icon-container {
        top: 50px; /* Naar boven */
        left: 120px; /* Naar links */
        transform: none; /* Geen transformatie meer */
    }
}
/* Hide header on screens smaller than 1290px */
@media (max-width: 1290px) {
    #header-contact {
        display: none !important;
    }
}
/* Show header on screens 1290px and larger */
@media (min-width: 1290px) {
    #header-contact {
        display: flex !important;
    }
    /* Align controls to the end on screens 1290px and larger */
    #header-controls {
        justify-content: flex-end !important;
    }
}
/*op kleinere schermen margins wegdoen*/
@media (max-width: 767px) {
    .carousel {
        margin: 0 auto;
    }

}

/*footer*/
.socials{
    width: 30px;
    height: 30px;
}
.socials:hover{
    background-color: #b8cd06!important;
}

