<!--footer-->
<footer class="container-fluid" style="background-color: #343434">
    <div class="container">

        <div class="row pt-5 justify-content-center">

            <!-- Eerste kaart: Bedrijfsinformatie -->
            <div class="card col-lg-3 col-md-4 border-0 rounded-0 bg-transparent" style="width: 18rem;">
                <div class="card-body p-0">
                    <img alt="logo" class="pb-3" src="/images/logo.png"
                         style="filter: invert(100%) grayscale(100%) brightness(100%);">
                    <p class="questrial13px text-white-50 pb-2">Integer posuere orci sit amet feugiat pellent que.
                        Suspendisse vel tempor justo, sit amet posuere orci dapibus auctor</p>
                    <div class="d-flex">
                        <i class="fa-solid fa-mobile-screen-button" style="color: #b8cd06"></i>
                        <p class="raleway9px text-white-50 text-uppercase ps-2">contact us: <span
                                class="questrial10px links">+3(523) 555 123 8745</span></p>
                    </div>
                    <div class="d-flex">
                        <i class="fa-regular fa-envelope" style="color: #b8cd06"></i>
                        <p class="raleway9px text-white-50 text-uppercase ps-2">email: <span
                                class="questrial10px links">office@exzo.com</span></p>
                    </div>
                    <div class="d-flex">
                        <i class="fa-solid fa-location-dot" style="color: #b8cd06"></i>
                        <p class="raleway9px text-white-50 text-uppercase ps-2">address: <span
                                class="questrial10px links">1st, new york, usa</span></p>
                    </div>
                </div><!--card body-->
            </div><!--card1-->

            <!-- Tweede kaart: Snelle links -->
            <div class="card col-lg-3 col-md-4 border-0 rounded-0 bg-transparent" style="width: 18rem;">
                <div class="card-body p-0">
                    <h5 class="card-title raleway13px text-uppercase pb-3 text-white">quick links</h5>
                    <div class="col-12 d-flex flex-wrap">
                        <a class="text-uppercase text-white-50 text-decoration-none questrial11px links col-12 col-lg-6 pb-3"
                           href=index.html>home</a>
                        <a class="text-uppercase text-white-50 text-decoration-none questrial11px links col-12 col-lg-6 pb-3"
                           href="#">privacy
                            policy</a>
                        <a class="text-uppercase text-white-50 text-decoration-none questrial11px links col-12  col-lg-6 pb-3"
                           href="#">about
                            us</a>
                        <a class="text-uppercase text-white-50 text-decoration-none questrial11px links col-12  col-lg-6 pb-3"
                           href="#">warranty</a>
                        <a class="text-uppercase text-white-50 text-decoration-none questrial11px links col-12  col-lg-6 pb-3"
                           href="#">products</a>
                        <a class="text-uppercase text-white-50 text-decoration-none questrial11px links col-12  col-lg-6 pb-3"
                           href="#">login</a>
                        <a class="text-uppercase text-white-50 text-decoration-none questrial11px links col-12  col-lg-6 pb-3"
                           href="#">services</a>
                        <a class="text-uppercase text-white-50 text-decoration-none questrial11px links col-12  col-lg-6 pb-3"
                           href="#">registration</a>
                        <a class="text-uppercase text-white-50 text-decoration-none questrial11px links col-12  col-lg-6 pb-3"
                           href="blog.html">blog</a>
                        <a class="text-uppercase text-white-50 text-decoration-none questrial11px links col-12  col-lg-6 pb-3"
                           href="#">delivery</a>
                        <a class="text-uppercase text-white-50 text-decoration-none questrial11px links col-12  col-lg-6 pb-3"
                           href="#">gallery</a>
                        <a class="text-uppercase text-white-50 text-decoration-none questrial11px links col-12  col-lg-6 pb-3"
                           href="#">pages</a>
                        <a class="text-uppercase text-white-50 text-decoration-none questrial11px links col-12  col-lg-6 pb-3"
                           href="#">contact</a>
                        <a class="text-uppercase text-white-50 text-decoration-none questrial11px links col-12  col-lg-6 pb-3"
                           href="#">our
                            stores</a>
                    </div>
                </div><!--card body-->
            </div><!--card2-->

            <!-- Derde kaart: Blogberichten -->
            <div class="card col-lg-3 col-md-4 border-0 rounded-0 bg-transparent" style="width: 18rem;">
                <div class="card-body p-0">
                    <h5 class="card-title raleway13px text-uppercase pb-3 text-white">some posts</h5>
                    <div class="d-flex pb-3">
                        <img alt="post 1" class="rounded me-2" src="/images/post1.png">
                        <div class="lh-1">
                            <span class="questrial10px text-white-50 text-uppercase">apr 07/15</span><br>
                            <a class="raleway11px links text-white text-uppercase text-decoration-none fw-bolder "
                               href="#">fusce
                                tincidunt accumsan pretium sit amet</a>
                        </div>
                    </div>
                    <div class="d-flex pb-3">
                        <img alt="post 1" class="rounded me-2" src="/images/post2.png">
                        <div class="lh-1">
                            <span class="questrial10px text-white-50 text-uppercase">apr 07/15</span><br>
                            <a class="raleway11px links text-white text-uppercase text-decoration-none fw-bolder "
                               href="#">fusce
                                tincidunt accumsan pretium sit amet</a>
                        </div>
                    </div>
                    <div class="d-flex pb-3">
                        <img alt="post 1" class="rounded me-2" src="/images/post3.png">
                        <div class="lh-1">
                            <span class="questrial10px text-white-50 text-uppercase">apr 07/15</span><br>
                            <a class="raleway11px links text-white text-uppercase text-decoration-none fw-bolder "
                               href="#">fusce
                                tincidunt accumsan pretium sit amet</a>
                        </div>
                    </div>
                </div><!--card body-->
            </div><!--card3-->
<!--text-white-50 bg-secondary bg-opacity-25 text-decoration-none active tags-->
            <!-- Vierde kaart: Populaire tags -->
            <div class="card col-lg-3 col-md-4 border-0 rounded-0 bg-transparent" style="width: 18rem;">
                <div class="card-body p-0">
                    <h5 class="card-title raleway13px text-uppercase pb-3 text-white">popular tags</h5>
                    <div class="row col-12 justify-content-start">
                        <!-- Alle tags -->
                        <div class="d-flex flex-wrap justify-content-start">
                            <a class="rounded-pill raleway9px text-white-50 bg-secondary bg-opacity-25 text-decoration-none active tags p-2 m-1">HEADPHONES</a>
                            <a class="rounded-pill raleway9px text-white-50 bg-secondary bg-opacity-25 text-decoration-none active tags p-2 m-1">ACCESSORIES</a>
                            <a class="rounded-pill raleway9px text-white-50 bg-secondary bg-opacity-25 text-decoration-none active tags p-2 m-1">NEW</a>
                            <a class="rounded-pill raleway9px text-white-50 bg-secondary bg-opacity-25 text-decoration-none active tags p-2 m-1">WIRELESS</a>
                            <a class="rounded-pill raleway9px text-white-50 bg-secondary bg-opacity-25 text-decoration-none active tags p-2 m-1">CABLES</a>
                            <a class="rounded-pill raleway9px text-white-50 bg-secondary bg-opacity-25 text-decoration-none active tags p-2 m-1">DEVICES</a>
                            <a class="rounded-pill raleway9px text-white-50 bg-secondary bg-opacity-25 text-decoration-none active tags p-2 m-1">GADGETS</a>
                            <a class="rounded-pill raleway9px text-white-50 bg-secondary bg-opacity-25 text-decoration-none active tags p-2 m-1">BRANDS</a>
                            <a class="rounded-pill raleway9px text-white-50 bg-secondary bg-opacity-25 text-decoration-none active tags p-2 m-1">REPLACEMENTS</a>
                            <a class="rounded-pill raleway9px text-white-50 bg-secondary bg-opacity-25 text-decoration-none active tags p-2 m-1">CASES</a>
                            <a class="rounded-pill raleway9px text-white-50 bg-secondary bg-opacity-25 text-decoration-none active tags p-2 m-1">CABLES</a>
                            <a class="rounded-pill raleway9px text-white-50 bg-secondary bg-opacity-25 text-decoration-none active tags p-2 m-1">PROFESSIONAL</a>
                        </div>
                    </div>
                </div><!--card body-->
            </div><!--card4-->
            <hr class="text-white-50 m-5"><!--border bottom-->
        </div><!--row-->

        <!-- Rij 2: Onderste informatie -->
        <div class="row pb-4">
            <!-- Copyright -->
            <div class="col-lg-4 col-md-6 text-center text-md-start">
                <p class="questrial13px text-white-50">
                    © 2015 All rights reserved. Development by
                    <a class="colorgreen text-decoration-none" href="#">UnionAgency</a>
                </p>
            </div>
            <!-- Sociale media links -->
            <div class="col-lg-4 col-md-6 d-flex gap-2 justify-content-center mb-sm-4">
                <a class="text-decoration-none text-white-50 bg-secondary bg-opacity-50 rounded-circle d-flex justify-content-center align-items-center socials"
                   href="#">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a class="text-decoration-none text-white-50 bg-secondary bg-opacity-50 rounded-circle d-flex justify-content-center align-items-center socials"
                   href="#">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a class="text-decoration-none text-white-50 bg-secondary bg-opacity-50 rounded-circle d-flex justify-content-center align-items-center socials"
                   href="#">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
                <a class="text-decoration-none text-white-50 bg-secondary bg-opacity-50 rounded-circle d-flex justify-content-center align-items-center socials"
                   href="#">
                    <i class="fa-brands fa-google-plus-g"></i>
                </a>
                <a class="text-decoration-none text-white-50 bg-secondary bg-opacity-50 rounded-circle d-flex justify-content-center align-items-center socials"
                   href="#">
                    <i class="fa-brands fa-pinterest-p"></i>
                </a>
            </div>
            <!-- Betaalmogelijkheden -->
            <div class="col-lg-4 col-md-6 text-center text-md-start ps-md-5">
                <a class="pe-1" href="#"><img alt="payment-1" src="/images/payment1.jpg"></a>
                <a class="pe-1" href="#"><img alt="payment-2" src="/images/payment2.jpg"></a>
                <a class="pe-1" href="#"><img alt="payment-3" src="/images/payment3.jpg"></a>
                <a class="pe-1" href="#"><img alt="payment-4" src="/images/payment4.jpg"></a>
                <a class="pe-1" href="#"><img alt="payment-5" src="/images/payment5.jpg"></a>
                <a class="" href="#"><img alt="payment-6" src="/images/payment6.jpg"></a>
            </div>
        </div>


    </div><!--container-->
</footer><!--footer-->